#home {
  padding-top: 2rem;
  background: #1a1a1a;
}

/*navbar*/
.navbar-brand {
  font-style: bold;
}
/* Home / Hero */
.container {
  z-index: 10;
  position: relative;
}
body {
  color: #ffff;
}
h1 {
  color: #ffff;
  line-height: 0.8;
}
h2 {
  color: #bd00ff;
  line-height: 0px;
}
.btn {
  background-color: #bd00ff;
}
._gian {
  width: 300px;
  height: 300x;
  margin-top: 50px;
}
/* End Hero Section */

/* My Skills*/

#myskills {
  background: #1a1a1a;
}
._mskillsApp {
  background: #1a1a1a;
  color: #fff;
  border: none;
}
.img-fluid {
  transition: 0.4s ease-in-out;
}

.img-fluid:hover {
  transform: scale(1.05);
}
/* Projects */

#projects {
  background: #1a1a1a;
}
h2 {
  top: 2093px;
}

/* Testi */
.slider-area {
  background-color: #292828;
  padding: 50 px 0;
  position: relative;
  margin: 120px;
}
.carousel-control-prev,
.carousel-control-next {
  background: transparent;
}
.img-area {
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid #fff;
  border-radius: 50%;
  overflow: hidden;
}
.img-area img {
  width: 100%;
}
.carousel-caption {
  position: static;
  padding-bottom: 15px;
  padding-top: 3;
}
.carousel-caption h3 {
  font-size: 26px;
  margin-bottom: 15px;
  margin-top: 25px;
}
.carousel-caption h4 {
  color: #bd00ff;
}
.carousel-caption p {
  font-size: 18px;
  margin: auto;
  width: 70%;
  margin-bottom: 10px;
}
.carousel-indicators {
  bottom: -35px;
}
/* Bonus Page */
#bonuspage .card {
  border-radius: 2rem;
}

/*FAQ*/
#faq .accordion-item {
  background: #1a1a1a;
  color: #fff;
  border: none;
}
.accordion-button {
  background: #1a1a1a;
  color: #fff;
  border: none;
}

/* Footer */
.__footerIcon {
  border-radius: 50%;
  padding: 0.2rem 0.4rem;
  margin-right: 1rem;
}

li .__footerIcon i {
  width: 16px;
  height: 16px;
}
/* end Footer */

/* Responsive */
@media (max-width: 576px) {
  .__stand {
    max-width: 1320px;
    width: 100%;
    max-height: 180px;
  }

  .d-xs-block {
    display: block !important;
  }
}

@media (min-width: 576px) {
  .__stand {
    max-width: 1320px;
    width: 100%;
    max-height: 200px;
  }
}
@media (min-width: 768px) {
  .__stand {
    max-width: 1500px;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .__stand {
    max-width: 580px;
  }
}

@media (min-width: 1200px) {
  .__stand {
    max-width: 700px;
  }
}
